.heroBanner {
  padding: 4rem 0;
}

.hero__title {
  font-size: 3rem;
  font-weight: bold;
}

.hero__subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  margin-top: 2rem;
}

.features {
  padding: 4rem 0;
}

.feature {
  margin-bottom: 2rem;
}

.featureIcon {
  width: 100px;
  height: 100px;
}


[class='button button--secondary button--m']{
  transform: translateX(38px);
  background: var(--ifm-color-primary);
  color: white !important;
  border: 2px solid var(--accents);
}

[class='button button--secondary button--m']:hover{
  filter: brightness(1.2);
}

[class='button button--secondary button--lg']{
  background: var(--bg-main);
  color: white !important;
  border: 2px solid var(--accents);
}



[class='button button--secondary button--lg']:hover{
filter: brightness(1.5);
}