.heroBanner {
  padding: 4rem 0;
  background: url('/img/banner-blur.png') no-repeat;
   background-size: cover;
  text-shadow: var(--title-shadow);
}


.hero__title {
  font-size: 3rem !important;
  font-weight: bold;
}

.hero__subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  margin-top: 2rem;
}

.features {
  padding: 4rem 0;
}

.feature {
  margin-bottom: 2rem;
}

.featureIcon {
  width: 100px;
  height: 100px;
}



[class^=button]:not(.buttons){
  background: var(--bg-main);
  color: white !important;
  border: 2px solid var(--accents);
}


[class^=button]:not(.buttons):hover{
filter: brightness(1.5);
}

.handbookCard {
  border: 2px solid var(--ifm-color-emphasis-200);
  border-radius: 8px;
  padding: 2rem;
  height: 100%;
  transition: all 0.3s ease;
  background-color: var(--ifm-card-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.handbookCard:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 4px 12px var(--accents);
  transform: translateY(-4px);
}

.handbookCard h3 {
  margin-bottom: 1.5rem;
  color: var(--accents);
}

.handbookCard p {
  margin-bottom: 1.5rem;
}

.handbookCard .button {
  align-self: center;
  margin-top: auto;
}

.handbooks {
  padding: 1rem 0;
}