---
id: camera-verification
title: Camera Verification
sidebar_position: 4
---
import RoleBadge from "@site/src/components/RoleBadge";
import ChannelBadge from "@site/src/components/ChannelBadge";
import Tooltip from "@site/src/components/Tooltip";

# Initial Verification Extra Situations: Camera Verification

:::warning
This method of verification should only be used as a last resort option. If a user wants to use this method, they will need to provide a valid reason to do so.
:::

If the user is uncomfortable sending their ID in the chat:

- This last resort option is to do a **video call** in a <ChannelBadge label="Ticket Room" link="https://discord.com/channels/734595073920204940/1096503334875181168"/> with **minimum 2** <RoleBadge role="Moderators" badgeIcon="moderator_role_icon.png" color="#e68027" /> who are available.
- The member will be required to show their ID during the call with their face fully uncovered.
- <RoleBadge role="Cutie Helpers" badgeIcon="cutie_helper_role_icon.png" color="#308027" /> **will not** perform camera verifications.

:::note
Ensure privacy and handle the situation professionally. 
:::
