---
id: camera-verification
title: Camera Verification
sidebar_position: 4
---

# Initial Verification Extra Situations: Camera Verification

:::warning
This method of verification should only be used as a last resort option. If a user wants to use this method, they will need to provide a valid reason to do so.
:::

If the user is uncomfortable sending their ID in the chat:

- An option to do a **video call** in a voice channel with 2 **Moderators** is available.
- The member will be required to show their ID during the call.
- **Cutie Helpers** should **not** perform camera verifications.

:::note
Ensure privacy and handle the situation professionally. 
:::
