---
id: timeframe-for-verification
title: Timeframe for Verification
sidebar_position: 1
---

# Timeframe for Verification

_New verification process, effective February 1st, 2024_

Verifying members should ideally be done within the first **12 hours** of the member posting their ID, but no later than **24 hours**.

- **Cutie Helpers** are responsible for the initial verification.
- After the **10-hour** mark, **Moderators** can step in, but it's preferable for Cutie Helpers to handle initial verifications to gain experience.
- A single staff member (**Mod/Cutie Helper**) should **not** perform both the initial verification and the final ticket closure.

:::tip
Prompt verification ensures new members can engage with the community quickly while maintaining security protocols.
:::
