/* CommandCard.module.css */
.card {
  border-left: 4px solid var(--card-color);
  background: var(--ifm-background-surface-color);
  padding: 0.8rem 1rem;
  border-radius: 6px;
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}
.cmd {
  font-weight: 600;
}
.perms {
  color: #f87171;
  margin-left: 0.6rem;
}
.cd {
  color: #facc15;
  margin-left: 0.6rem;
}
.body {
  margin: 0.5rem 0 0;
}

.icon {
  width: 0.9em;
  height: 0.9em;
  vertical-align: middle;
  margin: 0px 0.2em;
  text-decoration: none;
}
